<h1><%= @section.title %></h1>

<% @section.threads.each_with_index do |thread, index| %>
    <div class="<%= row_class(index, @section.threads_count) %>">
        <%= render 'thread', thread: thread %>
    </div>
<% end %>

<% if @current_user %>
    <p><%= link_to 'New Thread', new_section_thread_path(@section) %></p>
<% end %>

<p><%= link_to 'Home', root_path %></p>