<br><br>
<% if @user %>
    <h1><%= @user.username %></h1>
    <%= link_to('Log out', logout_path, method: :post) %>
<% else %>
    <%= link_to('Sign up', new_user_path) %><br>
    <%= link_to('Log in', login_path) %><br>
    <%= link_to('Log in with Facebook', '/auth/facebook', method: :post) %>
<% end %>

<% @sections.each do |section| %>
    <h2><%= link_to section, section %></h2>
<% end %>

