<h1>Reply</h1>

<p>Thread: <%= @thread %></p>

<%= form_for :post, url: section_thread_posts_path(section_id: @thread.section.id, id: @thread.id) do |f| %>
    <%= f.hidden_field :thread_id, value: @thread.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.text_area :text %><br>
    <%= f.submit "Submit" %>
<% end %>