<h1>New Thread</h1>

<p>Section: <%= @section %></p>

<%= form_for :forum_thread, url: section_threads_path(section_id: @section.id) do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :section_id, value: @section.id %>
    Title: <%= f.text_field :title %><br>
    Text: <%= f.text_area :text %><br>
    <%= f.submit "Submit" %>
<% end %>